.label {
   text-align: start;
   color: #5a5a5a;
   font-weight: 600;
   margin-left: 1px;
}
.select {
   color: #e1e1e1;

   cursor: pointer;

   margin-bottom: 10px;
   height: 40px;
   padding: 0 10px;
   border: 1px solid rgba(0, 0, 0, 0.2);
   background-color: rgb(27, 27, 60);
   -webkit-appearance: none;
   appearance: none;
   font-weight: 600;
   border: 1px solid rgba(0, 0, 0, 0.2);
   transition: all 0.3s;

   &:focus {
      color: #fff;
      outline: 1px solid #5a5a5a;
   }
   &:hover {
      background-color: rgba(27, 27, 60, 0.9);
   }
}