.header {
   width: 100%;
   height: 100%;
   background-color: rgba(14, 14, 33, 1);
   background-color: transparent;
   grid-area: hd;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-areas: "btn time user";
   &__time {
     margin: auto;
     justify-content: center;
     align-items: center;
     font-size: 1.5rem;
     grid-area: time;
   }
   &__user {
     display: flex;
     justify-content: flex-end;
     align-items: center;
     font-size: 1.2rem;
     grid-area: user;
     padding-right: 20px;
   }
   &__exit_svg {
     margin-left: 20px;
     cursor: pointer;
   }
   &__add_client {
     margin: auto 0;
     font-size: 1rem;
     width: 50%;
     box-shadow: none;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgba(14, 14, 33, 1);
     background-color: transparent;
     border: 1px solid #ffffffde;
     border-radius: 20px;
     padding: 10px;
     height: 50px;
     cursor: pointer;
     grid-area: btn;
     &:hover {
       scale: 1.02;
     }
   }
 }