.delete_btn {
  transition: all 0.3s;
  display: none;
 
}
.delete_btn:hover{
  box-shadow: none;
  scale: 1.1;
}
.clients__item{
  position: relative;
}
.clients__item:hover {
  .delete_btn{
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 30px;
  }
}