.wrapper {
   width: 100%;
   min-height: 400px;
   background-color: #ebebeba3;
   border-radius: 15px;
   padding: 20px;
   position: relative;
   color: #616161;
   font-size: 18px;
   font-family: "Open Sans";
   display: flex;
   font-weight: 500;
   height: fit-content;
   overflow: scroll;
}
