.wrapper{
   z-index: 5;
   background-color: #eeeeee;
   border-radius: 20px;
   overflow: hidden;
}
.btnsWrapper {
   height: 40px;
   // background-color: red;
   border-bottom: 1px solid #c1c1c1;
   width: 100%;
   z-index: 10;
   display: flex;
   justify-content: space-around;
   a {
      color: black;
   }
}
.btn {
   color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   transition: all .5s;
   background-color: transparent;
   border-left: 1px solid rgba(0, 0, 0, 0.307);
   &:first-child {
      border-left: none;
   }
   &:hover{
      background-color: #e6e6e6;
   }
}
.activeBtn{
   background-color: #e3e3e3;
}
.form_btns_wrapper {
   height: 40px;
   // background-color: red;
   border-bottom: 1px solid #c1c1c1;
   width: 100%;
   display: flex;
   justify-content: space-around;
   a {
      color: black;
   }
}
.form_btn {
   color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   transition: all .5s;
   background-color: transparent;
   border-left: 1px solid rgba(0, 0, 0, 0.307);
   &:first-child {
      border-left: none;
   }
   &:hover{
      background-color: #e6e6e6;
   }
}
.form_btn_active{
   background-color: #e3e3e3;
}


