.task_select {
   margin-top: 10px;
   border: 1px solid #ffffffde!important;
   border-radius: 10px;
   font-weight: 400!important;
   text-align-last: center;
   font-size: 1rem;
   outline: none;
   color: inherit!important;
}
