@import "../../../../LandingPage/scss/global";
.clients {
   &__item {
      width: 100%;
      padding: 10px 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      position: relative;
      text-align: center;
      color: $dgray;
      font-size: 1.1rem;
      font-weight: 400;
      position: relative;
      transition: all 0.3s;
      a {
         color: $dgray;
      }

      &::after {
         position: absolute;
         content: "";
         bottom: 0;
         left: 0;
         right: 0;
         height: 1px;
         background-color: #94949460;
      }
      &:hover {
         background-color: #e4e4e4e3;
         a {
            color: black;
         }
         .clients__field {
            color: black;
         }
         color: black;
      }
   }
   &__field {
      color: $dgray;
      input[type="date"][disabled] {
         color: red;
      }
   }
}
.input{
   padding-left: 10px;
   height: 40px;
   margin-bottom: 10px;

   color: $dgray;
   border-radius: 5px;
   background-color: #fff;
   border: 1px solid rgba(0, 0, 0, 0.2);
   
   &:disabled{
      color: $dgray;
   }
   &:focus {
      color: $gray;
      outline: 1px solid $dgray;
   }
}
.expired{
   background-color:    rgba(181, 55, 55, 0.092);
}
.completed{
   background-color: rgba(0, 0, 0, 0.103);
}