@import "../../../LandingPage/scss/reset";
@import "../../../LandingPage/scss/global";
.wrapper {
   font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.5;
   font-weight: 300;
   color-scheme: light dark;
   color: rgba(255, 255, 255, 0.855);
   height: 100%;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-text-size-adjust: 100%;
   // background: linear-gradient(#cd9f5f42, 70%, rgb(255, 255, 255));
   // background: linear-gradient(#fff, 80%, #cda05f);

   a {
      font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
      line-height: 1.5;
      font-weight: 400;
      // color: rgba(255, 255, 255, 0.855);
   }

   &::before {
      content: "";
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      position: fixed;
      background-image: url(../../Images/10.png);
      background-size: cover;
      z-index: -2;
   }
}
.container {
   width: 1200px;
   max-width: 100%;
   margin: 5px auto 0;
   // overflow: visible;
   // padding:15px 15px 0;
   height: 100%;
}
