.wrapper{
   background-color: #ffffffe3;
   color: #5a5a5a;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}
.select{
   // padding: 10px;
   border-radius: 7px;
   position: relative;
   height: 40px;
   transition: all 0.3s;
   font-weight: 500;
   margin-right: 5px;
   color: #5a5a5a;
   // outline: none;
   // width: 100%;
   text-align-last: center;
   position: relative;
   background-color: transparent;
   border: 1px solid rgba(0, 0, 0, 0.2);
   cursor: pointer;
   &:focus {
      outline: none;
      box-shadow: none;
      color: #5a5a5a;
      // outline: 1px solid #949494;
      border: 1px solid #949494;
   }
   &:hover {
      // cursor: pointer;
      box-shadow: none;
      outline: none;
      // outline: 1px solid #949494;
      background-color: #e3e3e3;
      border: 1px solid #949494;
   }
   -webkit-appearance: none;
   appearance: none;
}
.btn {
   background-color: rgb(27, 27, 60);
   border: none;
   height: 39px;
   margin-top: 5px;
   transition: all 0.3s;
   font-weight: 500;
   font-size: 1rem;
   border-radius: 5px;
   padding: 0 10px;
   cursor: pointer;
   margin-right: 10px;
   border: 1px solid rgba(0, 0, 0, 0.2);
   &:hover {
      background-color: rgba(27, 27, 60, 0.9);
   }
}
.tickBar{
   padding: 10px;
   font-weight: 500;
}
.overlay{
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background: #00000044;
}