.overlay{
   display: none;
   justify-content: center;
   align-items: center;
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   background: #00000044;
   z-index: 2;
   .active{
      display: flex;
   }
}
.content{
   width: 70%;
   height: 70%;
   background-color: wheat;
   border-radius: 10px;
}