@import "../../../LandingPage/scss/reset";
@import "../../../LandingPage/scss/global";
.layout {
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.855);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

a{
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.855);;
}
  &::before {
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    background-image: url(../../images/image-50.jpg);
    background-size: cover;
    z-index: -2;
  }
}
.wrapper {
   display: grid;
   grid-template-columns: 12vw auto;
   grid-template-rows: 10vh 90vh;
   grid-template-areas:
     "sd hd"
     "sd main";
 }
 
 .comp_wrapper {
   grid-area: main;
 
   width: 100%;
   height: 100%;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   overflow: hidden;
 }