.arrow {
   margin:20px auto;
   width: fit-content;
}
.arrow svg {
   width: 20px;
   height: auto;
   margin: 0 1rem;
   cursor: pointer;
   overflow: visible;
}
.arrow .disabled polygon, 
.arrow .disabled path,
.arrow .disabled:hover polygon, 
.arrow .disabled:hover path{
   fill: #e2e2e2;
}
.arrow .disabled{
   cursor: default;
}
.arrow .disabled:hover .arrow_pl{
   animation: none;
}

.arrow svg polygon, 
.arrow svg path {
   transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
   fill: #898989;
}

.arrow svg:hover polygon, 
.arrow svg:hover path {
   transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
   fill: #000;
}
.arrow svg:hover .arrow_pl {
   animation: arrow-anim .8s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.arrow svg:hover .arrow_pl_fixed {
   animation: arrow-fixed-anim .8s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

@keyframes arrow-anim {
   0% {
       opacity: 1;
       transform: translateX(0);
   }
   5% {
       transform: translateX(-0.1rem);
   }
   100% {
       transform: translateX(1rem);
       opacity: 0;
   }
}
@keyframes arrow-fixed-anim {
   5% {
       opacity: 0;
   }
   20% {
       opacity: 0.4;
   }
   100% {
       opacity: 1;
   }
}